<%- include header.ejs %>
<%- include sidebar.ejs %>
        <!-- ============ Body content start ============= -->
        <div class="main-content-wrap sidenav-open d-flex flex-column">
                <%= message%>
             <div class="breadcrumb">
                <h1>List of Care Center Type</h1>
            </div>
            <div class="separator-breadcrumb border-top"></div>
            <!-- end of row -->
            <div class="row mb-4">
                <div class="col-md-12 mb-4">
                    <div class="card text-left">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="language_option_table" class="display table table-striped table-bordered" style="width:100%">
                                  <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Type Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <% data.forEach(function(type){ %>
                                            <tr>
                                                    <td><%= type.id %></td>
                                                    <td><%= type.typeName %></td>
                                                    <td><span style="padding-right: 10px;"><a href="edittype/<%= type.id %>" alt=""><button class="btn btn-primary">Edit</button></a></span>
                                                     <span style="padding-right: 10px;"><a href="deletetype/<%= type.id %>" alt=""><button class="btn btn-danger">Delete</button></a></span>    
                                                        </td>
                                                </tr>
                                                <% })%>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end of col -->

            </div>
            <!-- end of row -->
<%- include footer.ejs %>